In [1]:
import sys

In [2]:
print(sys.version)

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

In [3]:
import numpy as np
import pandas as pd

In [4]:
print("NumPy version:", np.__version__)
print("Pandas version:", pd.__version__)

NumPy version: 1.20.3
Pandas version: 1.3.4

### Loading Data

In [5]:
churn = pd.read_csv('preprocessed_dataset.csv')

### Data View

In [6]:
churn.head()

,gender,SeniorCitizen,Dependents,tenure,PhoneService,MultipleLines,InternetService,Contract,MonthlyCharges,Churn
0,Female,0,No,1,No,No,DSL,Month-to-month,25,Yes
1,Male,0,No,41,Yes,No,DSL,One year,25,No
2,Female,0,Yes,52,Yes,No,DSL,Month-to-month,19,No
3,Female,0,No,1,Yes,No,DSL,One year,76,Yes
4,Male,0,No,67,Yes,No,Fiber optic,Month-to-month,51,No

In [7]:
print(churn.columns)

Index(['gender', 'SeniorCitizen', 'Dependents', 'tenure', 'PhoneService',
       'MultipleLines', 'InternetService', 'Contract', 'MonthlyCharges',
       'Churn'],
      dtype='object')

In [8]:
print(churn.shape)

(7043, 10)

In [9]:
print(churn.size)

70430

In [10]:
print("Loaded rows:", churn.shape[0], "cols:", churn.shape[1])

Loaded rows: 7043 cols: 10

In [11]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           7043 non-null   object
 1   SeniorCitizen    7043 non-null   int64
 2   Dependents       7043 non-null   object
 3   tenure           7043 non-null   int64
 4   PhoneService     7043 non-null   object
 5   MultipleLines    7043 non-null   object
 6   InternetService  7043 non-null   object
 7   Contract         7043 non-null   object
 8   MonthlyCharges   7043 non-null   int64
 9   Churn            7043 non-null   object
dtypes: int64(3), object(7)
memory usage: 550.4+ KB

In [12]:
churn.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.758768
std         0.368612    24.559481       30.091650
min         0.000000     0.000000       18.000000
25%         0.000000     9.000000       36.000000
50%         0.000000    29.000000       70.000000
75%         0.000000    55.000000       90.000000
max         1.000000    72.000000      119.000000

In [13]:
churn["gender"].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [14]:
churn["Dependents"].value_counts()

No     4933
Yes    2110
Name: Dependents, dtype: int64

In [15]:
churn["PhoneService"].value_counts()

Yes    6361
No      682
Name: PhoneService, dtype: int64

In [16]:
churn["MultipleLines"].value_counts()

No     4072
Yes    2971
Name: MultipleLines, dtype: int64

In [17]:
churn["InternetService"].value_counts()

DSL            3947
Fiber optic    3096
Name: InternetService, dtype: int64

In [18]:
churn["Contract"].value_counts()

Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

In [19]:
churn["Churn"].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [20]:
missing_counts_per_column = churn.isnull().sum()

In [21]:
missing_counts_per_column

gender             0
SeniorCitizen      0
Dependents         0
tenure             0
PhoneService       0
MultipleLines      0
InternetService    0
Contract           0
MonthlyCharges     0
Churn              0
dtype: int64

### Data Clean

In [22]:
for c in ["tenure","MonthlyCharges","SeniorCitizen"]:
    if c in churn.columns:
        churn[c] = pd.to_numeric(churn[c], errors="coerce")

In [23]:
num_cols = churn.select_dtypes(include=["number"]).columns.tolist()
for c in num_cols:
    churn[c] = churn[c].fillna(churn[c].median())

In [ ]:
cat_cols = churn.select_dtypes(include=["object","category"]).columns.tolist()
for c in cat_cols:
    churn[c] = churn[c].fillna("Missing")